<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>DASHBOARD </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
   <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
	<div align="Center">  
		<h2>LOGIN SUSSESFULL</h2>
		
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="logout" />
		</form>
		
	</div>

</body>
</html>